aws_region      = "us-east-1"
cluster_name    = "ms-learning-eks"
cluster_version = "1.30"

vpc_cidr             = "10.0.0.0/16"
azs                  = ["us-east-1a", "us-east-1b"]
public_subnet_cidrs  = ["10.0.101.0/24", "10.0.102.0/24"]
private_subnet_cidrs = ["10.0.1.0/24", "10.0.2.0/24"]

node_instance_types = ["t3.medium"]
node_min_size       = 1
node_max_size       = 3
node_desired_size   = 2

users_table_name = "users"

aws_load_balancer_controller_chart_version = "1.8.1"
argocd_chart_version                       = "7.6.10"
keda_chart_version                         = "2.15.1"
istio_chart_version                        = "1.23.0"
